
/*棋盤本體
寬高各為544*544px(15*15格子加上邊界一共是17*17格)
*/
.Board{
	width:544px;
	height:544px;
}

/*棋格
寬高各為32*32px
排列方式為絕對位置(可用x,y座標定義位置)
*/
.Cell{
	width:32px;
	height:32px;
	position:absolute;
}

/*圖片
寬高各為32*32px
*/
img{
	width:32px;
	height:32px;
}

.debugLog{
	width:528px;
	height:128px;
	background-color:#000000;
}